In [4]:
import requests 
from bs4 import BeautifulSoup 
import pandas as pd 

# df = pd.read_html(str(table))[0]

In [28]:
months = [
'october',
'november',
'december',
'january',
'february',
'march',
'april',
'may',
'june',]

In [29]:
df_all = None
first_flag = True

In [30]:
for year in range(2019, 1999, -1):
    for month in months:
        print(year, month)
        link = "https://www.basketball-reference.com/leagues/NBA_{}_games-{}.html".format(year, month)
        res = requests.get(link) 
        soup = BeautifulSoup(res.content,'lxml')
        try:
            table = soup.find_all('table')[0]
        except Exception as e:
            continue
            
        df = pd.read_html(str(table))[0]
        
        if first_flag:
            first_flag=False
            df_all = df
        else:
            df_all = df_all.append(df, ignore_index=True)

2019 october
2019 november
2019 december
2019 january
2019 february
2019 march
2019 april
2019 may
2019 june
2018 october
2018 november
2018 december
2018 january
2018 february
2018 march
2018 april
2018 may
2018 june
2017 october
2017 november
2017 december
2017 january
2017 february
2017 march
2017 april
2017 may
2017 june
2016 october
2016 november
2016 december
2016 january
2016 february
2016 march
2016 april
2016 may
2016 june
2015 october
2015 november
2015 december
2015 january
2015 february
2015 march
2015 april
2015 may
2015 june
2014 october
2014 november
2014 december
2014 january
2014 february
2014 march
2014 april
2014 may
2014 june
2013 october
2013 november
2013 december
2013 january
2013 february
2013 march
2013 april
2013 may
2013 june
2012 october
2012 november
2012 december
2012 january
2012 february
2012 march
2012 april
2012 may
2012 june
2011 october
2011 november
2011 december
2011 january
2011 february
2011 march
2011 april
2011 may
2011 june
2010 october
2010 november
2010 december
2010 january
2010 february
2010 march
2010 april
2010 may
2010 june
2009 october
2009 november
2009 december
2009 january
2009 february
2009 march
2009 april
2009 may
2009 june
2008 october
2008 november
2008 december
2008 january
2008 february
2008 march
2008 april
2008 may
2008 june
2007 october
2007 november
2007 december
2007 january
2007 february
2007 march
2007 april
2007 may
2007 june
2006 october
2006 november
2006 december
2006 january
2006 february
2006 march
2006 april
2006 may
2006 june
2005 october
2005 november
2005 december
2005 january
2005 february
2005 march
2005 april
2005 may
2005 june
2004 october
2004 november
2004 december
2004 january
2004 february
2004 march
2004 april
2004 may
2004 june
2003 october
2003 november
2003 december
2003 january
2003 february
2003 march
2003 april
2003 may
2003 june
2002 october
2002 november
2002 december
2002 january
2002 february
2002 march
2002 april
2002 may
2002 june
2001 october
2001 november
2001 december
2001 january
2001 february
2001 march
2001 april
2001 may
2001 june
2000 october
2000 november

/home/liaojiping/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

2000 december
2000 january
2000 february
2000 march
2000 april
2000 may
2000 june

In [34]:
df_all.head()

,Attend.,Date,Home/Neutral,Notes,PTS,PTS.1,Start (ET),Unnamed: 5,Unnamed: 6,Unnamed: 7,Visitor/Neutral
0,18624.0,"Tue, Oct 16, 2018",Boston Celtics,NaN,87.0,105.0,8:00p,NaN,Box Score,NaN,Philadelphia 76ers
1,19596.0,"Tue, Oct 16, 2018",Golden State Warriors,NaN,100.0,108.0,10:30p,NaN,Box Score,NaN,Oklahoma City Thunder
2,17889.0,"Wed, Oct 17, 2018",Charlotte Hornets,NaN,113.0,112.0,7:00p,NaN,Box Score,NaN,Milwaukee Bucks
3,20332.0,"Wed, Oct 17, 2018",Detroit Pistons,NaN,100.0,103.0,7:00p,NaN,Box Score,NaN,Brooklyn Nets
4,18055.0,"Wed, Oct 17, 2018",Houston Rockets,NaN,131.0,112.0,8:00p,NaN,Box Score,NaN,New Orleans Pelicans

In [36]:
df_all.columns

Index(['Attend.', 'Date', 'Home/Neutral', 'Notes', 'PTS', 'PTS.1',
       'Start (ET)', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Visitor/Neutral'],
      dtype='object')

In [37]:
df_all = df_all[['Date', 'Home/Neutral' , 'Visitor/Neutral','PTS', 'PTS.1']]

In [38]:
df_all['total_pts'] = df_all['PTS'] + df_all['PTS.1']

In [39]:
df_all['total_pts_odd'] = df_all['total_pts'] % 2

In [51]:
_, df_all['month'], df_all['year'] = df_all['Date'].str.split(',').str

In [54]:
df_all['month'] = df_all['month'].str.strip()
df_all['month'] = df_all['month'].str[:3]

In [55]:
df_all.head()

,Date,Home/Neutral,Visitor/Neutral,PTS,PTS.1,total_pts,total_pts_odd,month,year
0,"Tue, Oct 16, 2018",Boston Celtics,Philadelphia 76ers,87.0,105.0,192.0,0.0,Oct,2018
1,"Tue, Oct 16, 2018",Golden State Warriors,Oklahoma City Thunder,100.0,108.0,208.0,0.0,Oct,2018
2,"Wed, Oct 17, 2018",Charlotte Hornets,Milwaukee Bucks,113.0,112.0,225.0,1.0,Oct,2018
3,"Wed, Oct 17, 2018",Detroit Pistons,Brooklyn Nets,100.0,103.0,203.0,1.0,Oct,2018
4,"Wed, Oct 17, 2018",Houston Rockets,New Orleans Pelicans,131.0,112.0,243.0,1.0,Oct,2018

In [56]:
df_all.mean()

PTS               97.450136
PTS.1            100.606296
total_pts        198.056432
total_pts_odd      0.511174
dtype: float64

In [59]:
df_all.groupby('year').mean()

              PTS       PTS.1   total_pts  total_pts_odd
year
 1999   95.753555   98.642180  194.395735       0.504739
 2000   94.128025   97.612802  191.740827       0.510539
 2001   93.434956   96.911413  190.346369       0.501197
 2002   93.296238   96.807994  190.104232       0.524295
 2003   92.862392   96.449570  189.311962       0.522283
 2004   92.603849   95.976744  188.580593       0.500401
 2005   95.639939   98.878215  194.518154       0.516641
 2006   95.928412   99.662192  195.590604       0.501864
 2007   97.149733   99.943468  197.093201       0.515661
 2008   97.778529  101.305556  199.084084       0.503003
 2009   98.323708  101.952128  200.275836       0.503799
 2010   98.604088  101.538229  200.142316       0.499621
 2011   97.506215  100.562712  198.068927       0.514124
 2012   94.938263   98.049525  192.987788       0.511533
 2013   97.404079  100.182779  197.586858       0.509819
 2014   99.775112  102.374063  202.149175       0.511994
 2015   98.968158  101.536770  200.504928       0.514026
 2016  102.191298  105.375844  207.567142       0.494374
 2017  104.507795  107.282108  211.789903       0.541203
 2018  106.798085  109.501995  216.300080       0.518755
 2019         NaN         NaN         NaN            NaN

In [58]:
df_all.groupby('month').mean()

              PTS       PTS.1   total_pts  total_pts_odd
month
Apr     97.310334  100.568036  197.878370       0.508023
Dec     97.579776  100.390651  197.970427       0.507990
Feb     97.939510  100.810269  198.749779       0.503098
Jan     97.314685  100.563170  197.877855       0.511422
Jun     92.759690   98.077519  190.837209       0.542636
Mar     97.892112  101.272439  199.164551       0.517226
May     94.575758   98.760211  193.335968       0.500659
Nov     96.882595  100.057855  196.940450       0.515856
Oct    101.085610  103.468124  204.553734       0.524590

In [60]:
df_all.groupby('Home/Neutral').mean()

,PTS,PTS.1,total_pts,total_pts_odd
Home/Neutral,,,,
Atlanta Hawks,98.318893,99.407942,197.726835,0.545126
Boston Celtics,95.498864,99.423864,194.922727,0.515909
Brooklyn Nets,103.188406,101.721014,204.909420,0.518116
Charlotte Bobcats,96.992611,96.137931,193.130542,0.495074
Charlotte Hornets,98.366771,101.570533,199.937304,0.514107
Chicago Bulls,95.480192,96.685474,192.165666,0.521008
Cleveland Cavaliers,97.105568,100.310905,197.416473,0.534803
Dallas Mavericks,98.219114,103.692308,201.911422,0.552448
Denver Nuggets,100.134639,104.632803,204.767442,0.500612
Detroit Pistons,94.211628,97.725581,191.937209,0.527907
Golden State Warriors,101.976387,106.592680,208.569067,0.510035
Houston Rockets,96.571087,101.455197,198.026284,0.528076
Indiana Pacers,94.941725,99.806527,194.748252,0.505828
Los Angeles Clippers,98.034105,100.218027,198.252132,0.510353
Los Angeles Lakers,98.239865,103.046171,201.286036,0.506757
Memphis Grizzlies,96.808367,98.674764,195.483131,0.503374
Miami Heat,93.898305,98.441808,192.340113,0.489266
Milwaukee Bucks,98.900000,100.645122,199.545122,0.520732
Minnesota Timberwolves,98.846535,100.039604,198.886139,0.495050
New Jersey Nets,94.804965,96.131206,190.936170,0.475177
New Orleans Hornets,93.585752,95.453826,189.039578,0.511873
New Orleans Pelicans,105.528634,107.123348,212.651982,0.519824
New Orleans/Oklahoma City Hornets,94.463415,95.451220,189.914634,0.500000
New York Knicks,98.569839,98.941904,197.511743,0.483313
Oklahoma City Thunder,99.324094,106.168443,205.492537,0.494670
Orlando Magic,97.893462,100.262712,198.156174,0.490315
Philadelphia 76ers,97.254480,98.078853,195.333333,0.516129
Phoenix Suns,100.983153,104.409146,205.392298,0.496992
Portland Trail Blazers,96.415254,100.417676,196.832930,0.518160
Sacramento Kings,101.371638,103.865526,205.237164,0.513447
San Antonio Spurs,92.065431,101.366412,193.431843,0.511450
Seattle SuperSonics,96.519789,98.865435,195.385224,0.493404
Toronto Raptors,97.932367,100.698068,198.630435,0.497585
Utah Jazz,94.878166,99.903498,194.781665,0.542823
Vancouver Grizzlies,96.060976,93.012195,189.073171,0.439024
Washington Wizards,99.380196,100.734719,200.114914,0.501222

In [62]:
df_all.groupby('Visitor/Neutral').mean()

,PTS,PTS.1,total_pts,total_pts_odd
Visitor/Neutral,,,,
Atlanta Hawks,95.182254,100.341727,195.523981,0.533573
Boston Celtics,97.658286,98.781714,196.440000,0.510857
Brooklyn Nets,100.603636,105.298182,205.901818,0.469091
Charlotte Bobcats,92.945813,100.874384,193.820197,0.544335
Charlotte Hornets,97.822785,99.348101,197.170886,0.518987
Chicago Bulls,95.426170,99.734694,195.160864,0.541417
Cleveland Cavaliers,96.983815,100.794220,197.778035,0.508671
Dallas Mavericks,99.750869,100.340672,200.091541,0.501738
Denver Nuggets,99.914634,104.028049,203.942683,0.523171
Detroit Pistons,94.859835,97.036514,191.896349,0.478210
Golden State Warriors,102.397146,105.481570,207.878716,0.485137
Houston Rockets,99.682198,100.535245,200.217443,0.516129
Indiana Pacers,96.301974,98.873403,195.175377,0.527294
Los Angeles Clippers,98.193431,102.132603,200.326034,0.484185
Los Angeles Lakers,100.103058,102.387316,202.490374,0.506229
Memphis Grizzlies,95.388441,99.446237,194.834677,0.504032
Miami Heat,94.503432,95.994279,190.497712,0.483982
Milwaukee Bucks,97.319563,101.456865,198.776428,0.533414
Minnesota Timberwolves,98.167494,102.621588,200.789082,0.518610
New Jersey Nets,92.668440,97.212766,189.881206,0.533688
New Orleans Hornets,93.142480,96.857520,190.000000,0.506596
New Orleans Pelicans,102.082969,106.008734,208.091703,0.510917
New Orleans/Oklahoma City Hornets,92.890244,98.268293,191.158537,0.500000
New York Knicks,96.334563,101.230012,197.564576,0.492005
Oklahoma City Thunder,103.149573,103.119658,206.269231,0.495726
Orlando Magic,96.856970,100.526061,197.383030,0.527273
Philadelphia 76ers,95.583933,99.610312,195.194245,0.510791
Phoenix Suns,101.540964,104.356627,205.897590,0.514458
Portland Trail Blazers,96.139759,99.142169,195.281928,0.491566
Sacramento Kings,99.893902,104.541463,204.435366,0.520732
San Antonio Spurs,97.589011,95.042857,192.631868,0.482418
Seattle SuperSonics,96.842105,101.352632,198.194737,0.563158
Toronto Raptors,97.569194,100.445247,198.014440,0.534296
Utah Jazz,96.470868,99.456599,195.927467,0.502973
Vancouver Grizzlies,92.646341,100.951220,193.597561,0.451220
Washington Wizards,96.623329,102.133657,198.756987,0.535844